* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  border: 1px solid silver;
  list-style-type: none;
}

div:hover {
  cursor: pointer;
  color: tomato;
}